{% extends 'layouts/base.twig' %}

{% block content %}

<div class="container">

    <div class="row">

        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default">

                <div class="panel-heading">Edit User: {{ user.name }}</div>

                <div class="panel-body">

                    <form class="form-horizontal" role="form" method="POST" action="/admin/update/{{ user.id }}">

                        {% include 'users/partials/field_edit.twig' %}

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    Actualizar
                                </button>
                            </div>
                        </div>

                    </form>

                    {% include 'layouts_partials/message.twig' %}

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}