{% extends 'layouts/base.twig' %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-10 col-md-offset-1">

                <div class="panel panel-default">

                    <div class="panel-heading">Home - Users</div>

                    <div class="panel-body">

                        <a href="{{ path('admin_register') }}" class="btn btn-primary">New User</a>

                        {% include 'users/partials/filter.twig' %}

                        {% include 'layouts_partials/message.twig' %}

                        {% include 'users/partials/table.twig' %}

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}