<form action="home" method="GET" class="navbar-form navbar-left pull-right">

    <input type="text" class="form-control" placeholder="Cedula de Identidad" name="card">

    <input type="submit" value="Search" class="btn btn-primary">

</form>