<!doctype html>

<html lang="es">

    <head>

        {% include 'layouts_partials/header.twig' %}

        {% include 'layouts_partials/style.twig' %}

    </head>

    <body>

        {% include 'layouts_partials/logo.twig' %}

        {% include('layouts_partials/sidebar.twig') %}

            {% block content %}

            {% endblock %}

        {% include('layouts_partials/footer.twig') %}

        {% include('layouts_partials/script.twig') %}

    </body>

</html>